# Archivos de respaldo y temporales
*~
*.swp
*.bak

# Archivos de compilación
*.o
*.out
*.exe

# Directorios generados por IDEs
frontend/.idea/
frontend/.vscode/
backend/.idea/
backend/.vscode/

# Dependencias y módulos de Node.js
frontend/node_modules/
backend/node_modules/

# Archivos de configuración local
frontend/.env
config.js
backend/.env
backend/config.js

# Archivos de registro y salida
logs/
*.log

# Archivos de caché
.cache/