@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}

/* add padding on input */
.text-indent {
  text-indent: 0.5rem;
}

.text-orange {
  color: rgb(255, 118, 45);
}

/* add password hide and show icon */
.password__icon {
  position: absolute;
  right: 0;
  padding: 15px 20px;
  cursor: pointer;
}

.logo.active {
  color: rgb(255, 118, 45);
}

.row {
  --bs-gutter-x: 0 !important;
}

@media (min-width: 1025px) {
  /* register default */
  .register__form {
    position: absolute;
    width: 42%;
    height: 100vh;
    margin-left: -100%;
    opacity: 0;
    color: white;
    transition: margin 1s, opacity 0.5s;
    z-index: 1;
  }

  /* register form active */
  .register__form.active {
    opacity: 1;
    margin-left: 50% !important;
    width: 42%;
  }

  /* login form default */
  .login__form {
    position: absolute;
    width: 42%;
    height: 100vh;
    margin-left: -100%;
    opacity: 0;
    color: white;
    transition: margin 1s, opacity 0.5s;
    z-index: 1;
  }

  /* login form active */
  .login__form.active {
    opacity: 1;
    margin-left: 10% !important;
    width: 42%;
  }

  body {
    overflow: hidden;
  }

  /* add circle orange background */
  .ball {
    overflow: hidden;
    transition: margin 1s;
    width: 31rem;
    height: 31rem;
    background-color: rgb(255, 118, 45);
  }

  .ball.login {
    margin-left: 50%;
    margin-top: 5%;
  }

  .ball.register {
    margin-left: 14%;
    margin-top: 6%;
  }

  /* bouncing effect */
  .bounce {
    height: 30rem;
    animation: bounce 2s infinite alternate;
    -webkit-animation: bounce 2s infinite alternate;
  }

  @keyframes bounce {
    from {
      transform: translateY(-0.5rem);
    }
    to {
      transform: translateY(1rem);
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cuerpo,
  .logo,
  h3,
  .p {
    font-size: 2rem !important;
  }

  input,
  button {
    height: 4rem;
  }

  .container,
  .container-md,
  .container-sm {
    max-width: 100%;
  }

  .register__form,
  .login__form {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-left: -100%;
    opacity: 0;
    color: white;
    transition: margin 1s, opacity 0.5s;
    z-index: 1;
  }

  .register__form.active,
  .login__form.active {
    opacity: 1;
    margin-left: 0;
  }

  .ball {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .container .col-12.p-5 {
    padding: 0px !important;
  }

  body {
    overflow-x: hidden;
  }

  .row {
    --bs-gutter-x: 0;
  }

  .register__form {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-right: -100%;
    opacity: 0;
    color: white;
    transition: margin 1s, opacity 0.5s;
    z-index: 1;
    visibility: hidden;
  }

  /* register form active */
  .register__form.active {
    margin-right: 0%;
    opacity: 1;
    visibility: visible;
  }

  /* login form default */
  .login__form {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-left: -100%;
    opacity: 0;
    color: white;
    transition: margin 1s, opacity 0.5s;
    z-index: 1;
    visibility: hidden;
  }

  /* login form active */
  .login__form.active {
    opacity: 1;
    margin-left: 0%;
    visibility: visible;
  }
}

/* Nest Hub */
@media (min-width: 1024px) and (max-height: 600px) {
  .cuerpo,
  .logo,
  h3,
  .p {
    font-size: 1rem !important;
  }

  input,
  button {
    height: 2.5rem;
  }

  .ball {
    display: flex !important;
    width: 25rem;
    height: 25rem;
    background-color: rgb(255, 118, 45);
    border-radius: 50%;
    transition: margin 1s;
  }

  .ball.login {
    margin-top: 10%;
    margin-left: 52%;
  }

  .ball.register {
    margin-left: 10%;
    margin-top: 10%;
  }

  .register__form,
  .login__form {
    width: 50%;
    height: 100vh;
    opacity: 0;
    color: white;
    transition: margin 1s, opacity 0.5s;
    z-index: 1;
    margin-left: -100%;
  }

  .register__form.active {
    opacity: 1;
    margin-left: 50%;
  }

  .login__form.active {
    opacity: 1;
    margin-left: 5%;
  }

  body {
    overflow: hidden;
  }
}

@media (min-width: 1280px) and (min-height: 800px) {
  .ball {
    margin-top: 10% !important;
  }
}
