.contenedor-tarjetas {
  padding: 1rem;
}

.tarjeta-receta .img-receta {
  width: 22vw;
  height: 30vh;
  padding: 1rem;
  border-radius: 1.2rem;
  object-fit: cover;
}

.tarjeta-receta {
  height: 35vh !important;
}

.contenedor-usuario img {
  /* padding-left: 0; */
  width: 45px;
  height: 45px;
  border-radius: 4rem;
  object-fit: cover;
  -webkit-box-shadow: 5px 5px 21px 0px rgba(25, 25, 25, 1);
  -moz-box-shadow: 5px 5px 21px 0px rgba(25, 25, 25, 1);
  box-shadow: 5px 5px 21px 0px rgba(25, 25, 25, 1);
}

.card {
  border: none !important;
  -webkit-box-shadow: 5px 5px 21px 0px rgba(25, 25, 25, 1);
  -moz-box-shadow: 5px 5px 21px 0px rgba(25, 25, 25, 1);
  box-shadow: 5px 5px 21px 0px rgba(25, 25, 25, 1);
}

.receta-descripcion h6,
.receta-descripcion h5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* estilos para el like */
.img-like {
  width: 2.5rem;
  height: 2.5rem;
  filter: grayscale(80%);
  transition: all .4s;
  margin-right: 2rem;
  margin-top: 2rem;
}

.img-like:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

/* media para tablet */
@media screen and (max-width: 834px) {
  .contenedor-usuario {
    margin-top: .3rem;
  }

  .tarjeta-receta .img-receta {
    width: 35vw;
    height: 40vh;
  }

  .tarjeta-receta h6,
  .receta-descripcion a,
  .contenedor-usuario span {
    font-size: .9rem !important;
  }

  .tarjeta-receta h5 {
    font-size: 1rem;
  }

  .tarjeta-receta {
    height: 40vh !important;
  }

  .img-like {
    width: 2rem;
    height: 2rem;
  }
}

/* media para movil */
@media screen and (max-width: 480px) {
  .contenedor-usuario img {
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 1.5rem;
  }

  #home .contenedor-tarjetas {
    padding: .5rem !important;
    gap: .5rem !important;
  }

  .tarjeta-receta .contenedor-receta-usuario {
    flex-direction: row !important;
  }

  .tarjeta-receta h5 {
    font-size: 1rem;
  }

  .tarjeta-receta {
    height: 25vh !important;
  }

  .tarjeta-receta h6,
  .receta-descripcion a,
  .contenedor-usuario span {
    font-size: .8rem !important;
  }
  
  .receta-descripcion a.btn.bg-dark-subtle.rounded-5.mt-1.w-25 {
    width: auto !important;
  }
  .contenedor-usuario span, .contenedor-usuario i {
    display: none;
  }

  .tarjeta-receta .img-receta {
    width: 45vw;
    height: 20vh;
    padding: .5rem;
  }

  .img-like {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    bottom: 14%; 
    right: -4%;
  }
}