
.cuerpo {
  background-color: #212429;
  color: #fff;
  font-family: "Poppins", sans-serif;
  overflow: visible;
}

.recipiente {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #212429;
}

.img {
  width: 100%;
  margin: 1rem;
  padding: 0.5rem;
}

.titulo {
  color: #ff7e3a;
  font-size: 3rem;
  margin: 0.5rem auto;
  text-align: center;
}

.carta {
  background-color: rgb(47, 46, 46);
  border-radius: 20px;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
}

.lista {
  padding: 0.3rem 0;
} 

@media (max-width: 768px) {
    .cuerpo {
        padding-bottom: 7rem;
    }
  }

/* @media (min-width: 818px) an (max-width: 1025px) {
  .cuerpo {
      height: 100vh;
      font-size: 2rem;
  }    NO ME LO TOMA NO ENTIENDO POR QUE
} */