/* Estilos para el banner */
.banner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
}

/* @media screen and (max-width: 834px) {
    .banner {
        height: 60vh;
    }
}

@media screen and (max-width: 480px) {
    .banner {
        height: 40vh; 
    }
} */