#contact {
    background: rgb(25, 25, 25);
    background: linear-gradient(95deg, rgba(25, 25, 25, 1) 13%, rgba(255, 126, 58, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

#imgForm {
    position: absolute;
    width: 20%;
    top: -3%;
    left: -4%;
    /* rotar la imagen levemente hacia la izquiera */
    transform: rotate(-16deg);
    /* animar la imagen para que se mueva girando sutilmente */
    animation: rotate 5s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(-2deg);
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: relative;
    height: 3.5rem;
    width: 90%;
    margin-left: 5%;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: .01rem solid var(--color-white);
    border-radius: 20px;
    padding: 0 1rem;
    outline: none;
    background: none;
    z-index: 1;
    color: #b4b4b4;
}

#textAreaContainer {
    height: 5rem;
}

.textarea {
    padding-top: 5%;
    resize: none;
}

::placeholder {
    color: transparent;
}

.label {
    position: absolute;
    top: 30%;
    left: 5%;
    background-color: #4e3528;
    color: var(--color-white);
    transition: 0.4s;
    z-index: 0;
}

.enviarBtn {
    display: block;
    margin: auto;
    padding: .5rem 5rem;
    cursor: pointer;
    border-radius: 20px;
    color: var(--color-white);
    background-color: transparent;
    border: .01rem solid var(--color-white);
}

.enviarBtn:hover {
    background-color: var(--color-white);
    color: var(--gris);
    box-shadow: 0 1rem 2rem rgba(47, 46, 43, 0.2);
}

.input:focus+.label {
    top: -.5rem;
    left: .75rem;
    z-index: 10;
    font-size: .8rem;
    font-weight: 500;
    color: var(--naranja);
}

.input:focus {
    border: .01rem solid var(--naranja);
}

.input:not(:placeholder-shown)+.label {
    top: -.5rem;
    left: .75rem;
    z-index: 10;
    font-size: .8rem;
    font-weight: 500;
}

@media only screen and (max-width: 480px) {
    .formContainer {
        width: 90%;
        height: fit-content;
        display: flex;
    }
    
    #contact {
        align-items: flex-start;
        padding-bottom: 8rem;
    }
}