/* add padding on input */

.text-indent {
  text-indent: 0.5rem;
}

.text-orange {
  color: rgb(255, 118, 45);
}
/* add password hide and show icon */

.password__icon {
  position: absolute;
  right: 0;
  padding: 15px 20px;
  cursor: pointer;
}

.logo.active {
  color: rgb(255, 118, 45);
}

@media (min-width: 990px) {
  body {
    overflow: hidden;
  }
  /* add circle orange background */
  .ball {
    overflow: hidden;
    transition: margin 1s;
    width: 31rem;
    height: 31rem;
    background-color: rgb(255, 118, 45);
  }
  .ball.login {
    margin-left: 50%;
    margin-top: 5%;
  }
  .ball.register {
    margin-left: 14%;
    margin-top: 6%;
  }
  /* bouncing effect */
  .bounce {
    height: 30rem;
    animation: bounce 2s infinite alternate;
    -webkit-animation: bounce 2s infinite alternate;
  }
  @keyframes bounce {
    from {
      transform: translateY(-0.5rem);
    }
    to {
      transform: translateY(1rem);
    }
  }

  /* register form active */
  .register__form.active {
    margin-left: 50% !important;
    opacity: 1;
  }
  /* login form active */
  .login__form.active {
    opacity: 1;
    margin-left: 10% !important;
  }
}

@media (max-width: 768px) {
  .container .col-12.p-5 {
    padding: 0px !important;
  }
  body {
    overflow-x: hidden;
  }
}

/* register default */

.register__form {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin-left: -100%;
  opacity: 0;
  color: white;
  transition: margin 1s, opacity 0.5s;
  z-index: 1;
}

/* register form active */

.register__form.active {
  margin-left: 0%;
  opacity: 1;
}

/* login form default */

.login__form {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin-left: -100%;
  opacity: 0;
  color: white;
  transition: margin 1s, opacity 0.5s;
  z-index: 1;
}

/* login form active */

.login__form.active {
  opacity: 1;
  margin-left: 0%;
}
