@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url('reset.css');
@import url('login.css');
@import url('aside.css');
@import url('nav.css');
@import url('banner.css');
@import url('contacto.css');
@import url('posts.css');

* {
    box-sizing: border-box;
    font-family: var(--font-family); 
}

body {
    overflow-y: scroll;
}

:root {
    --azul: #262d34;
    --azul-oscuro: #1e252b;
    --gris: #212429;
    --naranja: #ff7e3a;
    --border-radius: 1rem;
    --padding: 1rem;
    --font-family: "Poppins", sans-serif;
    --color-hover: var(--naranja);
    --transition: all 0.2s ease;
    --color-white: #f6f6f6;
    --color-bg: #e2e2e2;
}

#home {
    background-color: var(--gris);
}