@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url('reset.css');
@import url('login.css');
@import url('categorias.css');
@import url('nav.css');
@import url('contacto.css');

* {
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root {
    --azul: #262d34;
    --azul-oscuro: #1e252b;
    --gris: #212429;
    --naranja: #ff7e3a;
    --border-radius: 1rem;
    --padding: 1rem;
    --font-family: "Poppins", sans-serif;
    --color-hover: var(--naranja);
    --transition: all 0.2s ease;
    --color-white: #f6f6f6;
    --color-bg: #e2e2e2;
}

#home {
    background-color: var(--gris);
}

/* Estilos para el banner */
.banner {
    width: 100%;
    /* Reducimos el tamaño del banner */
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav {
    padding-right: 1rem;
}

.custom-button {
    padding: 10px 20px;
    background-color: var(--azul-oscuro);
    color: #fff;
    border: .01rem solid var(--color-bg);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.custom-button:hover {
    background-color: #fff;
    color: #000;
}