@import url('reset.css');

* {
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root {
    --color: ;
    --border-radius: 1rem;
    --padding: 1rem;
    --font-family: 'Montserrat';
}