.navbar {
    justify-content: space-between;
    background-color: var(--gris)
}

#nav {
    padding-right: 1rem;
}

.custom-button {
    padding: 10px 20px;
    background-color: var(--azul-oscuro);
    color: #fff;
    border: .01rem solid var(--color-bg);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.custom-button:hover {
    background-color: #fff;
    color: #000;
}