.contenedor-tarjetas {
  padding: 1rem;
}

.tarjeta-receta .img-receta {
  width: 22vw;
  height: 30vh;
  padding: 1rem;
  border-radius: 1.2rem;
  object-fit: cover;
}

.tarjeta-receta {
  height: 35vh !important;
}

/* .tarjeta-receta:hover {
  -webkit-box-shadow: 5px 5px 17px -4px rgba(246, 246, 246, 0.55);
  -moz-box-shadow: 5px 5px 17px -4px rgba(246, 246, 246, 0.55);
  box-shadow: 5px 5px 17px -4px rgba(246, 246, 246, 0.55);
} */

.contenedor-usuario img {
  /* padding-left: 0; */
  width: 45px;
  height: 45px;
  border-radius: 4rem;
  object-fit: cover;
  -webkit-box-shadow: 5px 5px 21px 0px rgba(25, 25, 25, 1);
  -moz-box-shadow: 5px 5px 21px 0px rgba(25, 25, 25, 1);
  box-shadow: 5px 5px 21px 0px rgba(25, 25, 25, 1);
}

.card {
  border: none !important;
  -webkit-box-shadow: 5px 5px 21px 0px rgba(25, 25, 25, 1);
  -moz-box-shadow: 5px 5px 21px 0px rgba(25, 25, 25, 1);
  box-shadow: 5px 5px 21px 0px rgba(25, 25, 25, 1);
}

.receta-descripcion h6,
.receta-descripcion h5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* media para tablet */
@media screen and (max-width: 834px) {
  .contenedor-usuario {
    margin-top: .3rem;
  }

  .tarjeta-receta .img-receta {
    width: 35vw;
    height: 40vh;
  }
}

/* media para movil */
@media screen and (max-width: 480px) {
  .contenedor-usuario img {
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 1.5rem;
  }

  .tarjeta-receta .contenedor-receta-usuario {
    flex-direction: row !important;
  }

  #home .contenedor-tarjetas {
    padding: .5rem !important;
    gap: .5rem !important;
  }

  .contenedor-usuario span {
    display: none;
  }

  .tarjeta-receta h5 {
    font-size: 1rem;
  }

  .tarjeta-receta h6,
  .receta-descripcion a,
  .contenedor-usuario span {
    font-size: .8rem !important;
  }

  .tarjeta-receta .img-receta {
    width: 45vw;
    height: 25vh;
  }
}